# --- SEGURIDAD Y FIREBASE ---
# No subir las llaves de Google Services
app/google-services.json

# --- ANDROID STUDIO Y GRADLE ---
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# --- ARCHIVOS DE DISPOSITIVOS ---
*.apk
*.apks
*.bundle

# --- KOTLIN Y JAVA ---
*.class
/bin
/gen

# --- LOGS Y TEMPORALES ---
*.log
